<a href="https://colab.research.google.com/github/odacostaz/GameOfLife/blob/main/Modelo_de_Proyecciones_Asset_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Paquetes usados

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
import pandas as pd # Para manipulación de datos 
import numpy as np # Biblioteca numérica
from sklearn.model_selection import train_test_split # Para separar datos de entrenamiento y prueba
from sklearn.linear_model import  LinearRegression # Para hacer la regresión linear
from sklearn.metrics import r2_score # Coeficiente de determinación
from sklearn.metrics import mean_squared_error # Error cuadrático medio
import matplotlib.pyplot as plt # Gráficos
import seaborn as sns # Gráficos estadísticos

#Preprocesamiento de los datos

In [ ]:
# Importación de base de datos
data = pd.read_excel("DATA.xlsx", sheet_name= "SALIDA FINAL")
data

,Fecha,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,...,IPC anual %,ISE Mensual %,Tasa BanRep %,Tasa FED %,PIB Global %,Brent (USD),Inflación T+3,BanRep T+6,FED T+6,PIB Global T+6
0,2017-01-31,1495.226873,8.721268e+06,1251.359485,1265.483669,1242.738985,2182.318870,1402.460946,1390.920067,1284.945489,...,100.000000,100.000000,100.000000,100.000000,100.000000,55.361111,101.189378,103.298902,100.519411,101.998235
1,2017-02-28,1467.958028,8.819906e+06,1253.601530,1267.552943,1245.106815,2190.036802,1422.444216,1407.449071,1310.501438,...,100.421745,99.956638,100.604492,100.062286,100.308865,55.958007,101.550695,103.760824,100.623524,102.370610
2,2017-03-31,1479.075358,8.862015e+06,1267.210129,1282.989208,1259.350274,2191.162017,1428.956255,1415.600847,1335.428707,...,100.806034,100.149769,101.193002,100.145292,100.618685,51.830505,101.882329,104.204207,100.727744,102.744344
3,2017-04-30,1510.332355,8.948942e+06,1280.557366,1305.291819,1292.595316,2220.281379,1436.267760,1424.160451,1357.262356,...,101.189378,100.119748,101.765162,100.228366,100.953745,53.331774,102.166592,104.649485,100.832073,103.095558
4,2017-05-31,1588.103187,9.038613e+06,1292.064842,1317.860132,1312.078334,2266.933997,1450.382870,1438.749854,1385.621539,...,101.550695,100.236032,102.300619,100.311509,101.289920,51.950444,102.490376,105.075840,100.936509,103.447972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2022-01-31,1971.282503,8.878067e+06,1612.961755,1631.383423,1503.420771,2941.791608,1919.247587,1877.280134,1794.219857,...,118.433111,109.957731,120.581920,106.148683,114.668423,87.353959,120.898092,124.041078,106.611377,117.225457
61,2022-02-28,1969.411379,9.274965e+06,1600.036075,1614.652097,1499.457321,2972.153959,1949.574327,1904.953711,1757.065139,...,119.196033,110.717155,120.976674,106.170772,115.122795,95.728201,121.782771,124.887223,106.765619,117.611107
62,2022-03-31,2060.577479,9.145955e+06,1592.708541,1582.033053,1445.548030,3003.872044,1939.875302,1902.537730,1716.429039,...,120.011893,111.452701,121.372720,106.214909,115.578969,112.453723,122.730398,125.787326,106.963769,117.998026
63,2022-04-30,2095.310184,8.886376e+06,1606.143190,1597.997238,1446.389245,3008.784672,1950.425223,1911.227077,1716.020383,...,120.898092,111.801662,121.867207,106.259064,115.998147,106.765710,123.695324,126.693916,107.162287,118.346310
64,2022-05-31,1972.463386,8.669383e+06,1591.252076,1544.302797,1315.247340,2944.206626,1941.718267,1906.889108,1629.483686,...,121.782771,112.094726,122.460402,106.347210,116.418846,111.842015,124.641405,127.607040,107.383024,118.695622

In [ ]:
#Numero de datos
data.shape

(65, 33)

In [ ]:
# Dataset final -- A modo de series de tiempo
data.index = pd.Index(data["Fecha"])
data.drop("Fecha", axis = 1, inplace = True)
print(data)

                 Colcap           PEI       TES CP       TES MP       TES LP  \
Fecha
2017-01-31  1495.226873  8.721268e+06  1251.359485  1265.483669  1242.738985
2017-02-28  1467.958028  8.819906e+06  1253.601530  1267.552943  1245.106815
2017-03-31  1479.075358  8.862015e+06  1267.210129  1282.989208  1259.350274
2017-04-30  1510.332355  8.948942e+06  1280.557366  1305.291819  1292.595316
2017-05-31  1588.103187  9.038613e+06  1292.064842  1317.860132  1312.078334
...                 ...           ...          ...          ...          ...
2022-01-31  1971.282503  8.878067e+06  1612.961755  1631.383423  1503.420771
2022-02-28  1969.411379  9.274965e+06  1600.036075  1614.652097  1499.457321
2022-03-31  2060.577479  9.145955e+06  1592.708541  1582.033053  1445.548030
2022-04-30  2095.310184  8.886376e+06  1606.143190  1597.997238  1446.389245
2022-05-31  1972.463386  8.669383e+06  1591.252076  1544.302797  1315.247340

                TES UVR   DPr IPC MP   DPr IPC CP    DPr TF LP   DPr IPC LP  \
Fecha
2017-01-31  2182.318870  1402.460946  1390.920067  1284.945489  1413.623299
2017-02-28  2190.036802  1422.444216  1407.449071  1310.501438  1435.973901
2017-03-31  2191.162017  1428.956255  1415.600847  1335.428707  1441.401130
2017-04-30  2220.281379  1436.267760  1424.160451  1357.262356  1447.898494
2017-05-31  2266.933997  1450.382870  1438.749854  1385.621539  1461.731486
...                 ...          ...          ...          ...          ...
2022-01-31  2941.791608  1919.247587  1877.280134  1794.219857  1943.530092
2022-02-28  2972.153959  1949.574327  1904.953711  1757.065139  1977.156032
2022-03-31  3003.872044  1939.875302  1902.537730  1716.429039  1956.975903
2022-04-30  3008.784672  1950.425223  1911.227077  1716.020383  1969.819243
2022-05-31  2944.206626  1941.718267  1906.889108  1629.483686  1955.179850

            ...  IPC anual %  ISE Mensual %  Tasa BanRep %  Tasa FED %  \
Fecha       ...
2017-01-31  ...   100.000000     100.000000     100.000000  100.000000
2017-02-28  ...   100.421745      99.956638     100.604492  100.062286
2017-03-31  ...   100.806034     100.149769     101.193002  100.145292
2017-04-30  ...   101.189378     100.119748     101.765162  100.228366
2017-05-31  ...   101.550695     100.236032     102.300619  100.311509
...         ...          ...            ...            ...         ...
2022-01-31  ...   118.433111     109.957731     120.581920  106.148683
2022-02-28  ...   119.196033     110.717155     120.976674  106.170772
2022-03-31  ...   120.011893     111.452701     121.372720  106.214909
2022-04-30  ...   120.898092     111.801662     121.867207  106.259064
2022-05-31  ...   121.782771     112.094726     122.460402  106.347210

            PIB Global %  Brent (USD)  Inflación T+3  BanRep T+6     FED T+6  \
Fecha
2017-01-31    100.000000    55.361111     101.189378  103.298902  100.519411
2017-02-28    100.308865    55.958007     101.550695  103.760824  100.623524
2017-03-31    100.618685    51.830505     101.882329  104.204207  100.727744
2017-04-30    100.953745    53.331774     102.166592  104.649485  100.832073
2017-05-31    101.289920    51.950444     102.490376  105.075840  100.936509
...                  ...          ...            ...         ...         ...
2022-01-31    114.668423    87.353959     120.898092  124.041078  106.611377
2022-02-28    115.122795    95.728201     121.782771  124.887223  106.765619
2022-03-31    115.578969   112.453723     122.730398  125.787326  106.963769
2022-04-30    115.998147   106.765710     123.695324  126.693916  107.162287
2022-05-31    116.418846   111.842015     124.641405  127.607040  107.383024

            PIB Global T+6
Fecha
2017-01-31      101.998235
2017-02-28      102.370610
2017-03-31      102.744344
2017-04-30      103.095558
2017-05-31      103.447972
...                    ...
2022-01-31      117.225457
2022-02-28      117.611107
2022-03-31      117.998026
2022-04-30      118.346310
2022-05-31      118.695622

[65 rows x 32 columns]

#Pronostico de variables macro

In [ ]:
# Importación de pronosticos
macro = pd.read_excel("DATA.xlsx", sheet_name= "SALIDA MACRO", index_col=0)
macro

,IPC anual %,ISE Mensual %,Tasa BanRep %,Brent (USD),Tasa FED %,PIB Global %,Inflación T+3,BanRep T+6,FED T+6,PIB Global T+6,TRM
FIN DE AÑO,128.289356,114.183873,131.110938,95.84,109.045080,118.327614,128.229091,134.288725,109.917223,121.047350,3850
12 MESES,129.309108,116.745472,133.481838,90.31,109.792859,120.609925,130.229215,139.091673,110.872972,122.968665,3800

In [ ]:
#PRONOSTICOS FIN DE AÑO
pron_fin = ["P_IPC", "P_ISE", "P_BR", "P_PT", "P_FED", "P_PG", "P_IPC3", "P_BR6", "P_FED6", "P_PG6", "P_TRM"]

for i in range(0,11):
  exec("%s = %f" % (pron_fin[i], macro.iloc[0,i]))

In [ ]:
#PRONOSTICOS 12 meses
pron_12m = ["P_IPC_12", "P_ISE_12", "P_BR_12", "P_PT_12", "P_FED_12", "P_PG_12", "P_IPC3_12", "P_BR6_12", "P_FED6_12", "P_PG6_12", "P_TRM_12"]

for i in range(0,11):
  exec("%s = %f" % (pron_12m[i], macro.iloc[1,i]))

#Pre-parametrización del modelo

In [ ]:
#Separamos en la matriz de variables y regresoras
variables = data.iloc[:,0:19]
variables.drop("Vista", axis = 1, inplace = True)
regresoras = data.iloc[:,22:]
regresoras["TES MP"] = data["TES MP"]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
m_col = ['ISE Mensual %', 'Brent (USD)']
m_pei = ['IPC anual %', 'ISE Mensual %']
m_deuda = ['Inflación T+3','BanRep T+6','TES MP']
m_tes = ['Tasa FED %','Inflación T+3','BanRep T+6']
m_ag = ['FED T+6', 'PIB Global T+6']
m_vg = ['Tasa FED %', 'Brent (USD)']

In [ ]:
#Definimos los pronosticos macro fin año
x_pred = pd.DataFrame(np.array([[P_IPC, P_ISE, P_BR, P_FED, P_PG, P_PT, P_IPC3, P_BR6, P_FED6, P_PG6, 0 ]]), columns= regresoras.columns)
x_pred

,IPC anual %,ISE Mensual %,Tasa BanRep %,Tasa FED %,PIB Global %,Brent (USD),Inflación T+3,BanRep T+6,FED T+6,PIB Global T+6,TES MP
0,128.289356,114.183873,131.110938,109.04508,118.327614,95.84,128.229091,134.288725,109.917223,121.04735,0.0

In [ ]:
#Definimos los pronosticos 12 meses
x_pred_12m = pd.DataFrame(np.array([[P_IPC_12, P_ISE_12, P_BR_12, P_FED_12, P_PG_12, P_PT_12, P_IPC3_12, P_BR6_12, P_FED6_12, P_PG6_12, 0 ]]), columns= regresoras.columns)
x_pred_12m

,IPC anual %,ISE Mensual %,Tasa BanRep %,Tasa FED %,PIB Global %,Brent (USD),Inflación T+3,BanRep T+6,FED T+6,PIB Global T+6,TES MP
0,129.309108,116.745472,133.481838,109.792859,120.609925,90.31,130.229215,139.091673,110.872972,122.968665,0.0

In [ ]:
#Creamos una matriz para alojar las proyecciones fin de año de los assets
varcop = np.array(["Acc G COP",	"RF G COP",	"Vista USD COP"])
varnor = np.array(variables.columns)
columnas = np.append(varnor,varcop)
columnas

forecast_prices = pd.DataFrame(np.array([range(21)]), columns= columnas)
forecast_prices

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20

In [ ]:
#Creamos una matriz para alojar las proyecciones 12 meses de los assets
forecast_prices_12m = pd.DataFrame(np.array([range(21)]), columns= columnas)
forecast_prices_12m

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20

# Modelo

In [ ]:
#COLCAP
y = variables.iloc[:,0]
x = regresoras[m_col]
modelo = LinearRegression()
modelo.fit(x, y)
y_pred = modelo.predict(x_pred[m_col])
forecast_prices[forecast_prices.columns[0]] = y_pred
#12 meses
y_pred = modelo.predict(x_pred_12m[m_col])
forecast_prices_12m[forecast_prices_12m.columns[0]] = y_pred

In [ ]:
#PEI
y = variables.iloc[:,1]
x = regresoras[m_pei]
modelo = LinearRegression()
modelo.fit(x, y)
y_pred = modelo.predict(x_pred[m_pei])
forecast_prices[forecast_prices.columns[1]] = y_pred
#12 meses
y_pred = modelo.predict(x_pred_12m[m_pei])
forecast_prices_12m[forecast_prices_12m.columns[1]] = y_pred

In [ ]:
#TES
for i in range(2,6):
  y = variables.iloc[:,i]
  x = regresoras[m_tes]
  modelo = LinearRegression()
  modelo.fit(x, y)  
  y_pred = modelo.predict(x_pred[m_tes])
  forecast_prices[forecast_prices.columns[i]] = y_pred
  y_pred = modelo.predict(x_pred_12m[m_tes])                #12 meses
  forecast_prices_12m[forecast_prices_12m.columns[i]] = y_pred

In [ ]:
#Incluimos TES MP en x_pred
x_pred["TES MP"] = forecast_prices["TES MP"]
x_pred_12m["TES MP"] = forecast_prices_12m["TES MP"]  #12 meses

In [ ]:
#Deuda
for i in range(6,15):
  y = variables.iloc[:,i]
  x = regresoras[m_deuda]
  modelo = LinearRegression()
  modelo.fit(x, y)
  y_pred = modelo.predict(x_pred[m_deuda])
  forecast_prices[forecast_prices.columns[i]] = y_pred
  y_pred = modelo.predict(x_pred_12m[m_deuda])            #12 meses
  forecast_prices_12m[forecast_prices_12m.columns[i]] = y_pred

In [ ]:
#Activos Internacionales
for i in range(15,17):
  y = variables.iloc[:,i]
  x = regresoras[m_ag]
  modelo = LinearRegression()
  modelo.fit(x, y)
  y_pred = modelo.predict(x_pred[m_ag])
  forecast_prices[forecast_prices.columns[i]] = y_pred
  y_pred = modelo.predict(x_pred_12m[m_ag])               #12 meses
  forecast_prices_12m[forecast_prices_12m.columns[i]] = y_pred

#Vista DOLAR
y = variables.iloc[:,17]
x = regresoras[m_vg]
modelo = LinearRegression()
modelo.fit(x, y)
y_pred = modelo.predict(x_pred[m_vg])
forecast_prices[forecast_prices.columns[17]] = y_pred
y_pred = modelo.predict(x_pred_12m[m_vg])                #12 meses
forecast_prices_12m[forecast_prices_12m.columns[17]] = y_pred

In [ ]:
#Pesificamos las proyecciones de activos globales
forecast_prices['Acc G COP'] = forecast_prices['Acc G USD'] * P_TRM
forecast_prices['RF G COP'] = forecast_prices['RF G USD'] * P_TRM
forecast_prices['Vista USD COP'] = forecast_prices['Vista USD'] * P_TRM

#12 meses
forecast_prices_12m['Acc G COP'] = forecast_prices_12m['Acc G USD'] * P_TRM_12
forecast_prices_12m['RF G COP'] = forecast_prices_12m['RF G USD'] * P_TRM_12
forecast_prices_12m['Vista USD COP'] = forecast_prices_12m['Vista USD'] * P_TRM_12

In [ ]:
forecast_prices

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,2047.00157,1.066891e+07,1738.198749,1763.861306,1623.598865,3255.648375,2120.438352,2065.93445,1882.835284,2152.274293,...,1861.584559,1773.374161,1857.189881,171.12137,777.587205,2503.026325,112.747016,2.993711e+06,9.636651e+06,434076.011592

In [ ]:
forecast_prices_12m

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,2055.363236,1.028173e+07,1732.146317,1716.524433,1596.407648,3320.907865,2110.313343,2062.85982,1770.737247,2137.297839,...,1812.393475,1799.499134,1890.882128,175.66134,813.283552,2560.677789,113.509072,3.090477e+06,9.730576e+06,431334.473994

#Cálculo de retornos proyectados

##Fin de año

In [ ]:
#Proyección de rentabilidades a fin de año
#Creamos el data frame
forescast_return_EA = pd.DataFrame(np.array([range(21)]), columns= columnas)
forescast_return_EA

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20

In [ ]:
#Calculamos los retornos proyectados a fin de año
pos_fin_año = 60
pos_fin_año = pos_fin_año -1
nombres_col = forescast_return_EA.columns

for i in range(21):
  x = nombres_col[i]
  forescast_return_EA[x] = np.log(forecast_prices[x]/data[x].iloc[pos_fin_año])

In [ ]:
forescast_return_EA

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0.11428,0.196434,0.070098,0.053675,0.01272,0.099616,0.10553,0.102667,0.037015,0.106182,...,0.067981,0.090328,0.101712,0.083588,0.04267,0.061154,0.026006,0.009901,0.028407,-0.006745

In [ ]:
#Rentabilidad corrida en el año
#Creamos el data frame
forescast_ret_corrido = pd.DataFrame(np.array([range(21)]), columns= columnas)
forescast_ret_corrido

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20

In [ ]:
#Calculamos los retornos corridos en el año
pos_año_corrido = len(data)
pos_año_corrido = pos_año_corrido -1

nombres_col = forescast_ret_corrido.columns

for i in range(21):
  x = nombres_col[i]
  forescast_ret_corrido[x] = np.log(data[x].iloc[pos_año_corrido]/data[x].iloc[pos_fin_año])

In [ ]:
forescast_ret_corrido

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0.077188,-0.011102,-0.01823,-0.079258,-0.197901,-0.000936,0.01748,0.022558,-0.107501,0.010139,...,-0.032296,0.020744,0.024847,0.015989,-0.170471,-0.100338,0.000902,-0.155498,-0.085379,0.015887

In [ ]:
#Rentabilidad faltante en el año
#Creamos el data frame
ret_faltante = pd.DataFrame(np.array([range(21)]), columns= columnas)
ret_faltante

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20

In [ ]:
#Calculamos el retorno faltante del año
nombres_col = ret_faltante.columns

for i in range(21):
  x = nombres_col[i]
  ret_faltante[x] = forescast_return_EA[x]-forescast_ret_corrido[x]

In [ ]:
ret_faltante

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0.037093,0.207536,0.088328,0.132933,0.21062,0.100552,0.08805,0.080109,0.144516,0.096043,...,0.100277,0.069584,0.076864,0.067599,0.213141,0.161492,0.025104,0.165399,0.113786,-0.022632

## 12 meses

In [ ]:
#Proyección de rentabilidades a fin de año
#Creamos el data frame
forescast_return_12m = pd.DataFrame(np.array([range(21)]), columns= columnas)
forescast_return_12m

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20

In [ ]:
#Calculamos los retornos proyectados a 12 meses
pos_mes_actual = len(data)
pos_mes_actual = pos_mes_actual -1
nombres_col_12m = forescast_return_12m.columns

for i in range(21):
  x = nombres_col[i]
  forescast_return_12m[x] = np.log(forecast_prices_12m[x]/data[x].iloc[pos_mes_actual])

In [ ]:
forescast_return_12m

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
0,0.041169,0.170571,0.08484,0.105729,0.193731,0.120399,0.083263,0.07862,0.083133,0.08906,...,0.073497,0.084208,0.094843,0.093784,0.258025,0.184264,0.03184,0.197211,0.123485,-0.028968

#Descarga de proyecciones

In [ ]:
Base = pd.concat([forecast_prices, forescast_return_EA, forescast_ret_corrido, ret_faltante,forecast_prices_12m,forescast_return_12m])
Base.index = ["Precio proyectado Fin Año", "Rentabilidad EA Fin Año", "Rentabilidad año corrido", "Rentabilidad restante Fin Año","Precio proyectado 12 meses", "Rentabilidad EA 12 meses"]
Base

,Colcap,PEI,TES CP,TES MP,TES LP,TES UVR,DPr IPC MP,DPr IPC CP,DPr TF LP,DPr IPC LP,...,DPr TF CP,DPr < 1 año,DPr IBR,3meses,Acc G USD,RF G USD,Vista USD,Acc G COP,RF G COP,Vista USD COP
Precio proyectado Fin Año,2047.001570,1.066891e+07,1738.198749,1763.861306,1623.598865,3255.648375,2120.438352,2065.934450,1882.835284,2152.274293,...,1861.584559,1773.374161,1857.189881,171.121370,777.587205,2503.026325,112.747016,2.993711e+06,9.636651e+06,434076.011592
Rentabilidad EA Fin Año,0.114280,1.964343e-01,0.070098,0.053675,0.012720,0.099616,0.105530,0.102667,0.037015,0.106182,...,0.067981,0.090328,0.101712,0.083588,0.042670,0.061154,0.026006,9.900933e-03,2.840664e-02,-0.006745
Rentabilidad año corrido,0.077188,-1.110156e-02,-0.018230,-0.079258,-0.197901,-0.000936,0.017480,0.022558,-0.107501,0.010139,...,-0.032296,0.020744,0.024847,0.015989,-0.170471,-0.100338,0.000902,-1.554983e-01,-8.537923e-02,0.015887
Rentabilidad restante Fin Año,0.037093,2.075359e-01,0.088328,0.132933,0.210620,0.100552,0.088050,0.080109,0.144516,0.096043,...,0.100277,0.069584,0.076864,0.067599,0.213141,0.161492,0.025104,1.653992e-01,1.137859e-01,-0.022632
Precio proyectado 12 meses,2055.363236,1.028173e+07,1732.146317,1716.524433,1596.407648,3320.907865,2110.313343,2062.859820,1770.737247,2137.297839,...,1812.393475,1799.499134,1890.882128,175.661340,813.283552,2560.677789,113.509072,3.090477e+06,9.730576e+06,431334.473994
Rentabilidad EA 12 meses,0.041169,1.705707e-01,0.084840,0.105729,0.193731,0.120399,0.083263,0.078620,0.083133,0.089060,...,0.073497,0.084208,0.094843,0.093784,0.258025,0.184264,0.031840,1.972112e-01,1.234852e-01,-0.028968

In [ ]:
Base.to_excel("Proyecciones final.xlsx")